<!DOCTYPE html>
<html>
<head>
<style>
h1 { 

    color: green;
    font-family: verdana;
    font-size: 200%
    }

P {

   color: red;
   font-family: ariel;
   font-size: 150%

  }

</style>
</head>
<body>

<h1> Tech Project 4a </h1>
<p> Please Input Your First Name, Last Name, and Email Address </p>

</body>
</html>

